*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    overflow-x: hidden;
}


p{
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*PRIMERA SECCION CON LA NAV*/

.first-section{
    
    height: 100vh;
    width: 100%;
    
    /*opacity: 0.1;*/
}



.fruits{
    background: linear-gradient(rgba(255, 252, 252, 0.887),rgba(255, 252, 252, 0.887))
    ,url(images/fruits.jpg) center center fixed;
    background-size: cover;
    width: 50%;
    height: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
   
}

.fruits h1{
   margin-left: 2rem;
    font-size: 3.6rem;
    font-weight: 600;
}


.fruits-logo{
    margin-top:4rem;
    margin-left: 2rem;
    width: 3.7rem;
    height: 3.7rem;
}
.fruits h1 span{
    color: #FF8000;

}

.fruits p{
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 1.2rem;
    font-weight: bolt;
}

.fruits button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 2rem;
    font-size: 1.2rem;
    border-radius: 10px;
}

.fruits button:last-child{
    background-color: white;
    color: black;
    margin-left:1rem;
    border: 1px solid black;
}

.buttons{
    display: flex;
    margin-bottom: 1rem;
}


button{
    cursor: pointer;
    background-color: #FF8000 ;
    color:white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
 
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.options img{
    width: 1.8rem;
    margin-right: 10px;

}

.promotions-nav ul li a{
    color:black;
}

.promotions-nav{
   
    font-weight: 600;
   
}

.main-nav{
    background-color: #FF8000;
}

.main-nav ul li a {
    font-size: 1.3rem;
    font-weight: 100;
}

.first{
    display: flex;
    align-items: center;
}


.first img{
    width: 3rem;
    margin-right: 10px;
    background-color: white;
    border-radius: 50%;
}

.first h1{
    font-size: 2rem;
    font-weight: 200;
}

.first h1 span {
    color:white;
}

.mail{
 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.mail p {
    font-size: 1rem;
   
    color:black;
}

.mail img{
    width: 1.5rem;
    margin-right: 10px;
    margin-top: 10px;
}

.left{
    display: flex;
    align-items: center;
}

.left ul li a {
font-weight: 300;
}


.right{
    display:flex;
    align-items: center;
}


.meat{
    width: 50%;
    height: 34rem;
}
.descount{
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: 9rem;
   left: 32rem;
}

.descount h1{
    position: absolute;
    top: 11rem;
    left: 34rem;
    font-size: 1.5rem;
    font-weight: 600;
    z-index: 3;
    color: white;
}


.meat img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.images{
    display: flex;
}

.squares{
    display: flex;
    margin-left: 2rem;
}

.squares img{
    width: 9rem;
    height: 7rem;
    margin: 0.3rem;
    border-radius: 20px;
}

/*FOOD GALERY SECTION*/

.food-galery{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    
}

.food-galery .galery img{
    object-fit: cover;

}

.p-food-galery{
    color:#FF8000;
    font-size: 1.3rem;
}

.food-galery h1{
    font-size: 3.6rem;
    font-weight: 600;
 
}

.food-galery-text{
    font-size: 1rem;
    text-align: center;
}

.food-galery-no-galery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15rem;
    margin-bottom: 2rem;
}

.pedacito {
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.food-galery-no-galery h1{
    font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
    font-size: 3.5rem;
}

.galery{
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:2rem;
    grid-auto-flow: dense;
    height: 60%;
    width: 100%;
    overflow: hidden;
}

.galery-img{
    background-size:cover;
}

.wide{
    grid-column: span 2;
}

.tall{
    grid-row: span 2;
}

/*DIRECTION SECTION*/

.direction{
    background: url(images/gray-font.png);
    background-size: cover;
    display: flex;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
   
}

.left-direction{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
  
}


.right-direction{
    display: flex;
    width: 50%;
    align-items: center;
  
}

.right-direction img{
    border: 2px solid white;
}

.large-direction{
    width:18rem;
    height: 30rem;
}

.short-direction{
    width: 15rem;
    height: 15rem;
    position: relative;
    top: 10rem;
    left: 5rem;
}


.first-text{
    font-size: 1.1rem;
    line-height: 1.2;
    
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    
}
.social-media{
    display:flex;
}

.social-media figure{
  
    margin: 0 0.5rem;
}

.contact{
    font-size: 1.1rem;
    margin-top: 2rem;
    line-height: 1.7;
}


.our-direction{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.our-direction h1{
    font-size: 2.3rem;
    font-weight: 600;
    margin: 1rem 0;

}


.icons button{
    padding: 10px 20px;
    cursor: pointer;
    background-color: #FF8000;
    color: black;
    border: none;
    border-radius: 5px;
    margin: 0;
    font-size: large;
}

/*OUR CHEFS SECTION*/

.our-chefs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.chefs-container{
    background: linear-gradient(rgba(255, 252, 252, 0.887),rgba(255, 252, 252, 0.887))
    ,url(images/salad.jpg) center center fixed;
    background-size: cover;
   width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chefs{
    display: flex;
    width: 70%;
    height:60vh;
    align-items: center;
    
}

.chefs img{
    width: 17rem;
    height: 15rem;
    object-fit: cover;
}

.chef-card{
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#chef-1{
    transform: rotate(-10deg);
}

#chef-2{
    transform: rotate(10deg);
    z-index: 2;
}

#chef-3{
    transform: rotate(-10deg);
}

/*MOTHERS DAY SECTION*/

.mothers-day{
    background-image: url(images/definitiva.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
    height: 37.5vh;
    background-color: #FF8000;
    background-repeat: no-repeat;
   
}

.mother-offer{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 5rem;
    margin-top: 2rem;
}
.mother-offer h1{
    font-size: 3rem;
    font-weight: 600;
    color: #FF8000;
}
.mother-offer p{
    font-size: 1.2rem;
    font-weight: 400;
}

.mother-buttons{
    display: flex;
    margin-top: 1rem;
    margin-left: 5rem;
}

.mother-buttons a{
    padding: 5px;
    cursor: pointer;
   background-color: white;
    font-size: 1rem;
    border-radius: 2px;
    margin-right: 0.5rem;
  
}

.mother-buttons img{
    padding: 5px 10px;
    cursor: pointer;
   background-color: white;
    border-radius: 2px;
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
}


/*OUR BLOG SECTION */

.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.blog-sections{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 34rem;
    margin:  0 2rem;
    
}

.blog-sections img{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: 0 1.5rem;
}


.blog-section {
display: flex;
flex-direction: column;
align-items: center;
width: 27rem;
height: 27rem;
margin: 0 1.5rem;
padding: 1rem 0;
background-color: rgba(253, 251, 251, 0.815);
/*box-shadow: 0 0 5px rgba(106, 108, 108, 0.277); */
border: 3px solid rgba(116, 111, 106, 0.1);
border-radius: 10px;
}

.blog-section .blog-image{
    width: 21rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 10px;
}

.blog-section h1{
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
}

.blog-section .naranja{
    color: #FF8000;
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
    margin-top: 1rem;
}

.blog-section .negro{
    font-size: 1.01rem;
    text-align: center;
    font-weight: 300;
    margin: 1rem ;
    
}


.blog-section button{
    padding: 7px 17px;

    cursor: pointer;
    background-color: #FF8000;
    color: white;
    border: none;
    border-radius: 5px;
 
}

.blog-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 7rem;
        margin-bottom: 2rem;
}

footer{
    display: flex;
    flex-direction: column;
}

.primer-footer{
    background: url(images/fondito.jpeg);
    background-size: cover;
    width: 100%;
    height: 10rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color:white;
     pad: 2rem;
}

.primer-footer ul{
    display: flex;
    list-style: none;
}

.primer-footer li{
    font-size: large;
    margin: 2rem 1rem;
    
}

.primer-footer h1{
    font-size: 2.3rem;
    font-weight: 100;
}

.primer-footer h1 span{
    color:#FF8000;
}

.segundo-footer{
  background: url(/images/fondito.jpeg);
  background-size:cover;
  height: 10vh;
  border-top: 1px gray solid;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.segundo-footer p {
    font-size: 1rem;
    color:white;
}

